* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page-wrapper {
  width: 100vw;
  height: 200vh;
  background: black;
  video {
    position: absolute;
    max-height: 70%;

    object-fit: contain;
    top: 90%;
    left: 50%;
    z-index: 2;
  }
  .text-parent {
    position: absolute;
    top: 75%;

    &:first-of-type {
      z-index: 1;
    }

    &:last-of-type {
      z-index: 3;
    }

    h1 {
      color: white;
      line-height: 110%;
      font-size: 8.1vw;
      white-space: nowrap;
      text-transform: uppercase;
      letter-spacing: 0.01em;
      font-weight: bold;
      font-family: sequel, sans-serif;

      &.outline {
        -webkit-text-stroke: 3px white;
        text-stroke: 1px white;
        color: transparent;
      }

      &:last-of-type {
        margin-left: -30%;
      }
    }
  }
}
